*.jar
*.sqlite
.Spotlight-V100
.DS_Store
*.exe
ehthumbs.db
*.so
*.dmg
*.zip
._*
/example
/test1
.DS_Store?
/.project
*.sql
*.gz
/.cproject
*.tar
*.7z
Thumbs.db
*.iso
*.dll
*.stackdump
*.o
*.log
.Trashes
*.rar
/vs